/Arbitration/obj/Debug/App.g.cs
/Arbitration/obj/Debug/App.g.i.cs
/Arbitration/obj/Debug/Arbitration.application
/Arbitration/obj/Debug/Arbitration.csproj.FileListAbsolute.txt
/Arbitration/obj/Debug/Arbitration.csproj.GenerateResource.Cache
/Arbitration/obj/Debug/Arbitration.csprojResolveAssemblyReference.cache
/Arbitration/obj/Debug/Arbitration.exe
/Arbitration/obj/Debug/Arbitration.exe.manifest
/Arbitration/obj/Debug/Arbitration.g.resources
/Arbitration/obj/Debug/Arbitration.pdb
/Arbitration/obj/Debug/Arbitration.Properties.Resources.resources
/Arbitration/obj/Debug/Arbitration_MarkupCompile.cache
/Arbitration/obj/Debug/Arbitration_MarkupCompile.i.cache
/Arbitration/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Arbitration/obj/Debug/MainWindow.baml
/Arbitration/obj/Debug/MainWindow.g.cs
/Arbitration/obj/Debug/MainWindow.g.i.cs
/Arbitration/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Arbitration/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Arbitration/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Arbitration/bin/Debug/app.publish/Application Files/Arbitration_1_0_0_2/Arbitration.exe.config.deploy
/Arbitration/bin/Debug/app.publish/Application Files/Arbitration_1_0_0_2/Arbitration.exe.deploy
/Arbitration/bin/Debug/app.publish/Application Files/Arbitration_1_0_0_2/Arbitration.exe.manifest
/Arbitration/bin/Debug/app.publish/Arbitration.application
/Arbitration/bin/Debug/app.publish/setup.exe
/Arbitration/bin/Debug/Arbitration.application
/Arbitration/bin/Debug/Arbitration.exe
/Arbitration/bin/Debug/Arbitration.exe.config
/Arbitration/bin/Debug/Arbitration.exe.manifest
/Arbitration/bin/Debug/Arbitration.pdb
/Arbitration/bin/Debug/Arbitration.vshost.application
/Arbitration/bin/Debug/Arbitration.vshost.exe
/Arbitration/bin/Debug/Arbitration.vshost.exe.config
/Arbitration/bin/Debug/Arbitration.vshost.exe.manifest
